:root {
  // Colors
  --color-primary: #835AFD;
  --color-black: #29292E;
  --color-shadow: #050206;
  --color-danger: #E73F5D;
  --color-white: #FFF;
  --color-white-background: #F8F8F8;
  --color-gray-medium: #a8a8b3;
  --color-gray-dark: #737380;
  --color-pink: #E559F9;

  // Fonts
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}